.transition {
    margin: 0 auto;
    border: 1px solid;
    width: 100px;
    height: 100px;
    background-color: #f3722c;
    transition: width 2s, height 2s, background-color 2s, transform 2s, border-radius 4s;

    color: white;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    line-height: 2em;
}

.transition:hover {
    background-color: #4d908e;
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
    border-radius: 50%;
}

.example {
    background-color: #FEECE8;
    padding: 1em;
    display: block;
}

.example ol, .example ul, .example dl {
    padding: 0;
    margin: 0;
}

.example ol, .example ul {
    margin-left: 1em;
}

.example table {
    border-collapse: collapse;
}

.example table td, .example table th {
    border: 1px solid black;
    border-radius: 0;
    background: none;
    color: black;
    min-width: 5em;
    text-align: center;
    font-size: 0.8em;
}

.example pre, .example p {
    margin: 0
}