@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.eot');
  src: url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.eot?#iefix') format('embedded-opentype'),
       local('Yanone Kaffeesatz Regular'),
       local('Yanone-Kaffeesatz-regular'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.woff2') format('woff2'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.woff') format('woff'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.ttf') format('truetype'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.svg#YanoneKaffeesatz') format('svg');
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Droid-Serif-regular/Droid-Serif-regular.eot');
  src: url('../fonts/Droid-Serif-regular/Droid-Serif-regular.eot?#iefix') format('embedded-opentype'),
       local('Droid Serif'),
       local('Droid-Serif-regular'),
       url('../fonts/Droid-Serif-regular/Droid-Serif-regular.woff2') format('woff2'),
       url('../fonts/Droid-Serif-regular/Droid-Serif-regular.woff') format('woff'),
       url('../fonts/Droid-Serif-regular/Droid-Serif-regular.ttf') format('truetype'),
       url('../fonts/Droid-Serif-regular/Droid-Serif-regular.svg#DroidSerif') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot');
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono'),
       local('Ubuntu-Mono-regular'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot');
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Bold'),
       local('Ubuntu-Mono-700'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot');
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Italic'),
       local('Ubuntu-Mono-italic'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.eot');
  src: url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Droid Sans Mono'),
       local('Droid-Sans-Mono-regular'),
       url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.woff2') format('woff2'),
       url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.woff') format('woff'),
       url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.ttf') format('truetype'),
       url('/fonts/Droid-Sans-Mono-regular/Droid-Sans-Mono-regular.svg#DroidSansMono') format('svg');
}


