@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MerriWeather-regular/merriweather\-v19-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
       url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MerriWeather-Sans\-regular//merriweather\-sans\-v9-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot');
  src: url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono'),
       local('Ubuntu-Mono-regular'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-regular/Ubuntu-Mono-regular.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot');
  src: url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Bold'),
       local('Ubuntu-Mono-700'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-700/Ubuntu-Mono-700.svg#UbuntuMono') format('svg');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot');
  src: url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Mono Italic'),
       local('Ubuntu-Mono-italic'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.woff') format('woff'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-Mono-italic/Ubuntu-Mono-italic.svg#UbuntuMono') format('svg');
}