.indexlink {
	display: none;
}

@page {
  size: 11.7in 8.3in;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.inverse {
  background: #FFF;
  color: #000;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #000;
  line-height: 0.8em;
}

.inverse a {
  color: #000;
}

.indexlist li {
  background-color: #FFF;
  padding: 1em;
  border-radius: 0;
}

