div.search form {
  display: inline-block;
}

div.search form input {
  opacity: 0;

  background-color: #CCC;
  color: black;

  border: 1px solid #f92672;
  padding: 3px;
  width: 10em;

  transition: .2s;
}

div.search a {
  padding: 1em;
  color: #999;
}

div.search {
  position: absolute;
  top: 1em;
}

div.search #search-next{
  display: none;
}

.current-match {
  background-color: cyan;
}
